[project]
	description = Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vcsbroker
[access "refs/for/refs/*"]
	read = group user/vcsbroker
	push = group user/vcsbroker
	label-Code-Review = -2..+2 group user/vcsbroker
	label-Verified = -1..+1 group user/vcsbroker
	rebase = group user/vcsbroker
	removeReviewer = group user/vcsbroker
	submit = group user/vcsbroker
[access "refs/heads/*"]
	read = group user/vcsbroker
	create = group user/vcsbroker
	push = +force group user/vcsbroker
	pushMerge = group user/vcsbroker
[access "refs/tags/*"]
	push = +force group user/vcsbroker
	pushTag = group user/vcsbroker
	pushSignedTag = group user/vcsbroker
